EXPO_PUBLIC_SUPABASE_URL=https://lrkqhubivgozjkcdbisg.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxya3FodWJpdmdvemprY2RiaXNnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcxNDE0NTksImV4cCI6MjA4MjcxNzQ1OX0.xQxrTGAp3Vod_lvnYwbPdFcmX2iyN7patNQ1OjWEAPU

